<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeKey test case</title>
</head>

<body>
<p>Welcome to My Journal</p>

<ul>
  {% for day in days %}
    <li><h4> Day {{ day }}</h4></li>
  {% endfor %}
</ul>
</body>

</html>